@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html{
    background: linear-gradient(#af67e9,#6565e7);
    font-family: "Kumbh Sans", sans-serif;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


div{
    justify-content:center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    padding: 40px;
    background-color: rgb(205, 211, 211);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
}

.conteudo h1{
    background: #6565e7;
    font-weight: 700;
    text-align: center;
    margin: 40px;
    padding: 20px;
    
}

.conteudo .p1{
    background-color: #F5F5F5;
    margin: 40px;
    padding: 20px;
}

.conteudo .p2{
    background-color: #F0CCE2;
    margin: 40px;
    padding: 20px;
    color: #6565e7;
}

 