@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html{
    background: linear-gradient(#ffffff,#4873fd);
    font-family: "Kumbh Sans", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.alimentos{
    width: 65%;
    min-height: 450px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3); /*https://developer.mozilla.org/en-US/docs/web/CSS/box-shadow*/
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.alimentos .ilustracao{
    position: relative;
    left: -120px;
    width: 50%;
    margin: 50px;
}

.alimentos .conteudo{
    width: 40%;
    padding-bottom: 20px;
}

.alimentos .conteudo h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.alimentos .conteudo .items{
    list-style-type: none;
}


.alimentos .conteudo .items .item{
    cursor: pointer;
    background-image: url("imagens/setapbaixo.jpg");
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.alimentos .conteudo .items .item:last-child{
    border-bottom: none; 
}

.alimentos .items .item .produto id {
    font-weight: 700;
} 
.item .produto{
    padding-bottom: 15px;
    font-size: 18px;
    width: 90%;
    transition: 0s;
}


.item .produto:hover{
    color: #5dff1d;
}

.item .sobre{
    display: none;
    padding-bottom: 15px;
}

/* ESTILOS DO ITEM ATIVO*/
.alimentos .items .item.ativo .produto id {
    font-weight: 700;
} 


.alimentos .items .item.ativo .sobre {
    display: block; 
}

.alimentos .items .item.ativo {
    background-image: url("imagens/setapcima.jpg");
}

@media(max-width: 1440px){
    .alimentos{
        flex-direction: column;
        width: 100%;
    }

    .alimentos .conteudo{
        width: 100%;
    }

    .alimentos .items{
        width: 80%;
        margin: 0 auto;
    }

    .alimentos .items .produto{
        font-size: 16px;
    }

    .alimentos .ilustracao{
        width: 40%;
        left: 0;
        margin: 30px;
    }
}

@media(max-width: 425px){
    .alimentos {
        height: 540px;
        
    }
    
}

